@import './shared/colors.scss';
@import './shared/mixins.scss';

main {
  background: linear-gradient($human-pink-light, white);
  @include full-bleed-grid($min-center-column-width: 80ch);
}

.privacy-tos-section {
  color: $human-blue;
  padding-top: 10rem;

  h3 {
    padding: 1rem 0;
  }
}
