:root {
  --human-blue: #164176;
  --human-pink: #fa759e;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
  color: #164176;
}

.title {
  color: var(--human-blue);
  text-align: center;
}

.steps {
  display: flex;
  padding: 5% 10%;
}

.step {
  padding: 0 3%;
  font-size: 16px;
}

@media (max-width: 700px) {
  .title {
    padding: 0 15%;
  }
  .steps {
    display: flex;
    flex-direction: column;
    padding: 3% 15%;
  }

  .step {
    padding: 5% 25%;
  }
}
